@charset "utf-8";

body {
	background: url(../images/bg.png) no-repeat center center fixed;
	background-size: cover;
	color: #999;
	font: 100%/1.5em sans-serif;
	margin: 0;
}

#login-form {
	margin: 150px auto;
	width: 300px;
}

h1 {
	margin: 0;
	background-color: #fcccbe;
	border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 14px;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
}

fieldset {
	border: none;
	margin: 0;
	background: #fff;
	border-radius: 0 0 5px 5px;
	padding: 20px;
	position: relative;
}

input {
	border: none;
	font-family: inherit;
	font-size: 14px;
	margin: 0;
	outline: none;
	-webkit-appearance: none;
}

input[type="password"], input[type="text"] {
    background-color: yellow;
    color: #930;
}

input[type="button"], input[type="submit"] {
	cursor: pointer;
	background: #1dabb8;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	margin-top: 20px;
	padding: 12px 20px;
}

input[type="button"]:hover, input[type="submit"]:hover {
	background: #198d98;
}

select {
	background-color: yellow;
	color: #930;
	border: none;
}