@charset "utf-8";
@media screen and (min-width: 901px) {
	article {
		background: #fff;
		border-radius: 5px;
		width: auto;
		height: 50%;
		margin: 10%;
		margin-top: 0px;
		margin-bottom: 50px;
		
	}

	#bookmark1 {
		margin-top: 75px;
		margin-left: 10%;
	}

	#bookmark2 {
		margin-top: 75px;
	}

	table {
		border: none;
		text-align: center;
		margin: auto;
		width: 90%;
		padding: 15px;
	}
	
	#info td {
		background-color: yellow;
		color: #930;
	}

	td, th {
		border: none;
		padding: 2px;
	}

	ul {
		padding: 10%;
		margin-top: 0px;
	}

	a img {
		margin: 0 2px;
	}
}

@media screen and (max-width: 900px) {
	article {
		background: #fff;
		border-radius: 5px;
		width: 650px;
		height: 50%;
		margin: 10%;
		margin-top: 0px;
		margin-bottom: 50px;
	}

	#bookmark1 {
		margin-top: 75px;
		margin-left: 25%;
	}

	#bookmark2 {
		margin-top: 0px;
		margin-left: 25%;
	}

	table {
		border: none;
		text-align: center;
		margin: auto;
		width: 90%;
		padding: 15px;
	}

	td, th {
		border: none;
		padding: 2px;
	}

	ul {
		padding: 10%;
		margin-top: 0px;
	}

	a img {
		margin: 0 2px;
	}
}